<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfigTest"
	packages="org.apache.logging.log4j.test">
	<Properties>
		<Property name="filename">target/test.log</Property>
	</Properties>
	<Filter type="ThresholdFilter" level="trace" />

	<Appenders>
		<Appender type="Console" name="STDOUT">
			<Layout type="PatternLayout">
				<Pattern>%d %C [%t] %m%n</Pattern>
			</Layout>
		</Appender>
		<Appender type="File" name="File" fileName="${filename}">
			<Layout type="PatternLayout">
				<Pattern>%d %C [%t] %m%n</Pattern>
			</Layout>
		</Appender>
	</Appenders>

	<Loggers>
		<Logger name="org.apache.logging" level="error">
               <AppenderRef ref="STDOUT" level="error"/>               
           </Logger>
		<Root level="debug">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>

</Configuration>